/* Import Rubik font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

html,
body {
  overflow: auto;
  font-family: 'Rubik', sans-serif; /* Apply Rubik font */
}

.admin-inquiry-system {
  width: 80%;
  padding: 2%;
  background: #f1f0f0;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  text-align: right;
  margin: 0 auto; /* Center the container horizontally */
}

.admin-inquiry-list h2 {
  text-align: center;
  color: #254790;
  margin-bottom: 3%;
  font-size: 2.5rem;
}

.subject-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subject-card {
  width: 22%; /* Adjusted width for smaller cards */
  padding: 1%; /* Adjusted padding for smaller cards */
  margin: 1%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.subject-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.subject-card h3 {
  margin: 0;
  padding: 10px 0;
  color: #05a3ba;
  font-size: 1.5rem;
}

.subject-card.selected {
  border: 2px solid #254790;
}

.response-toggle {
  text-align: center;
  margin: 2% 0;
  font-size: 1.2rem;
}

.response-toggle span {
  cursor: pointer;
  margin: 0 1%;
  color: #254790;
}

.response-toggle span.selected {
  text-decoration: underline; /* Add underline to selected response filter */
}

.response-toggle span:hover {
  text-decoration: underline;
}

.inquiry-section {
  margin-top: 2rem;
}

.admin-inquiry-list .inquiry-item-container {
  position: relative;
}

.quill {
  margin: 1rem 0 2rem 0;
}
.admin-inquiry-list .inquiry-item {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  direction: rtl;
  font-size: 1.3rem;
  padding: 2%; /* Add padding for space inside the item */
}

.admin-inquiry-list .inquiry-item:hover {
  background-color: #f9f9f9;
}

.admin-inquiry-list .inquiry-item.selected {
  border: 2px solid #254790;
}

.admin-inquiry-detail {
  direction: rtl;
  background: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 2%; /* Add padding for space inside the detail section */
}

.admin-inquiry-detail h3 {
  color: #05a3ba;
}

.admin-inquiry-detail p {
  font-size: 1.2rem;
}

.admin-inquiry-detail form label {
  display: block;
  margin-bottom: 1%;
  font-weight: bold;
  font-size: 1.2rem;
}

.admin-inquiry-detail form textarea {
  width: 98%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif; /* Apply Rubik font */
  font-size: 1.3rem;
  padding: 2%; /* Add padding inside the textarea */
}

.admin-inquiry-detail form button {
  width: 30%;
  padding: 1.5%;
  background: linear-gradient(90deg, #66AB44 0%, #026735 100%);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.admin-inquiry-detail form button:hover {
  background: linear-gradient(90deg, #5A9A3C 0%, #025F31 100%);
}

.subject-management-button {
  display: block;
  margin: 2% auto;
  padding: 1% 2%;
  background-color: #254790;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
}

.subject-management-button:hover {
  background-color: #1f3b72;
}

.admin-inquiry-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.admin-inquiry-form {
  background-color: white;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  font-size: 1.3rem;
  font-family: 'Rubik', sans-serif;
  width: 25%;
}

.admin-inquiry-form h2 {
  margin-bottom: 2%;
  color: #05a3ba;
}

.admin-inquiry-underline {
  border: 0;
  height: 2px;
  background-color: #254790;
  margin-bottom: 2%;
}

.admin-inquiry-form label {
  display: block;
  margin-bottom: 1%;
}

.admin-inquiry-input,
.admin-inquiry-form input[type="text"],
.admin-inquiry-form textarea,
.admin-inquiry-form select {
  width: 98%;
  padding: 1%;
  margin-bottom: 1.5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
  font-size: 1.3rem;
  direction: rtl;
  text-align: right;
}

.admin-inquiry-form textarea {
  height: 15%;
  min-height: 50px;
}

.admin-inquiry-form select {
  width: 30%;
}

.admin-inquiry-form textarea::placeholder {
  direction: rtl;
  text-align: right;
}

.admin-inquiry-submit-button,
.admin-inquiry-cancel-button {
  padding: 0.75rem;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem; /* Increase the font size of modal buttons */
  justify-content: center;
  align-items: center;
}

.admin-inquiry-submit-button {
  background-color: #05a3ba;
}

.admin-inquiry-cancel-button {
  background-color: #254790;
}

.admin-inquiry-submit-button:hover {
  background-color: #254790;
}

.admin-inquiry-cancel-button:hover {
  background-color: #05a3ba;
}
