.bulletin-board {
  width: 100%;
  height: 500px; /* Set the height to match the ImageSlider */
  text-align: center;
  background: #f1f0f0;
  overflow-y: auto; /* Ensure vertical scrolling */
}

.bulletin-board-header {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.ads ul {
  list-style-type: disc;
  padding: 0;
  margin: 0;
  direction: rtl; /* Set the direction to right-to-left */
  text-align: right; /* Align text to the right */
}

.ads li {
  background-color: #f1f0f0;
  color: black;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  list-style-position: inside; /* Ensure the disc is inside the padding */
}

.ads button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.ads button:hover {
  background-color: #0056b3;
}

.ads button:active {
  background-color: #004085;
}

.change-messages-button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
}

.change-messages-button:hover {
  background-color: #218838;
}

.change-messages-button:active {
  background-color: #1e7e34;
}
