.bulletinboard-container {
  width: 100%;
  height: 100%; /* Set the height to match the ImageSlider */
  direction: rtl; /* Set the text direction to right-to-left */
  text-align: right; /* Align text to the right */
  background: #ffffff;
  overflow-y: auto; /* Ensure vertical scrolling */
  position: relative; /* Add relative positioning for the admin button */
  color: #000000; /* Change text color to black */
  font-size: 1.7rem;
  border-radius: 15px;

}

.bulletinboard-list h2 {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 2% 0;
  color: #004085;
  text-align: center;
}

.ads ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  direction: rtl; /* Set the direction to right-to-left */
  text-align: right; /* Align text to the right */
}

.ads li {
  background-color: #ffffff;
  margin: 1% 0;
  padding: 2%;
  border-radius: 5px;
  list-style-position: inside; /* Ensure the disc is inside the padding */
}

.bulletinboard-management-button {
  position: absolute;
  top: 10px; /* Adjust top position as needed */
  left: 10px; /* Adjust left position as needed */
  background-color: #05a3ba; /* Green background color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.bulletinboard-management-button:hover {
  background-color: #004085;
}

/* Modal styling */
.bulletinboard-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bulletinboard-modal-content {
  background: white;
  padding: 2%;
  border-radius: 8px;
  width: 45%; /* Adjust width as needed */
  text-align: right;
  font-family: "Rubik", sans-serif; /* Apply Rubik font */
  direction: rtl; /* Set text direction to right-to-left */
  font-size: 1.5rem;
}

.bulletinboard-underline {
  border: 0;
  height: 2px;
  background-color: #254790;
  margin-bottom: 2%;
}

.bulletinboard-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4%;
}

.bulletinboard-options label {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #000000; /* Change label text color to black */
  margin-bottom: 1rem;
}

.bulletinboard-options input[type="radio"] {
  margin-left: 10px;
}

.bulletinboard-selection,
.bulletinboard-name-input {
  margin-bottom: 1rem;
  text-align: right;
  color: #000000; /* Change input text color to black */
}

.bulletinboard-input {
  width: 98%;
  padding: 1%;
  margin-bottom: 1.5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  direction: rtl;
  text-align: right;
  color: #000000; /* Change input text color to black */
}

.bulletinboard-submit-button,
.bulletinboard-cancel-button {
  padding: 0.75rem;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem; /* Increase the font size of modal buttons */
  justify-content: center;
  align-items: center;
}

.bulletinboard-submit-button {
  background-color: #05a3ba;
}

.bulletinboard-cancel-button {
  background-color: #254790;
}

.bulletinboard-submit-button:hover {
  background-color: #254790;
}

.bulletinboard-cancel-button:hover {
  background-color: #05a3ba;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.bulletinboard-modal-content h2 {
  text-align: right; /* Align headline to the right */
  color: #05a3ba;
}
