/* src/styles/BulletinBoard.css */

.bulletin-board {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%; /* Increase width to take full space */
  background-color: #f1f0f0;
  padding: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  border-radius: 2%;
  margin-right: 5%;
}

.ads {
  padding: 0;
  width: 100%; /* Increase width to take full space */
  text-align: center; /* Align text to the center */
  overflow: hidden; /* Hide overflowing text */
  position: relative; /* Set position to relative to use absolute positioning inside */
  height: auto; /* Adjust to fit content */
}

.ads ul {
  padding: 0; /* Remove padding */
  list-style-type: disc; /* Use bullets for list items */
  position: relative; /* Set position to relative */
  direction: rtl; /* Set text direction from right to left */
  padding-right: 20px; /* Add padding for bullets */
}

.ads li {
  margin-bottom: 10px;
  font-family: monospace;
  font-size: xx-large;
  display: flex;
  justify-content: space-between; /* Space between text and button */
  align-items: center; /* Center text vertically */
  height: auto; /* Adjust to fit content */
  position: relative;
  color: black; /* Set text color to black */
}

.ads li button {
  margin-left: 10px; /* Space between the message and the button */
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.ads li button:hover {
  background-color: #0056b3;
}

.ads li button:active {
  background-color: #004085;
}
