/* Calendar.css */

.calendar-title {
  text-align: center;
  font-size: 2rem; /* Adjust as needed */
  color: #333; /* Adjust color as needed */
  margin: 2rem 0 1rem 0; /* Adjust margin as needed */
}

.calendar-container {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  background: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 8%;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.calendar-header h2 {
  font-size: 1.5rem;
  color: #254790;
}

.changeMonth-btn {
  background-color: #05A3BA;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
}

.changeMonth-btn:hover {
  background-color: #254790;
}

.calendar-content {
  display: flex;
  gap: 1rem;
}

.calendar-column {
  flex: 1;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.day-header {
  background-color: #05A3BA;
  color: white;
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.calendar-week {
  display: contents;
}

.calendar-day {
  position: relative;
  background-color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calendar-day.day-empty {
  background-color: #f0f0f0;
  cursor: default;
}

.calendar-day:hover:not(.day-empty) {
  background-color: #e3e3e3;
}

.calendar-day.today {
  border: 2px solid #05A3BA;
  font-weight: bold;
}

.event-indicator {
  font-size: 1rem;
}

.event-indicator.no-event {
  color: #ccc;
}

.event-indicator.today {
  color: #254790;
}

.details-column {
  flex: 0.5;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.event-details-container {
  text-align: right;
}

.event-details-container h3 {
  margin-bottom: 1rem;
  color: #05A3BA;
}

.actions {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.action-button {
  background-color: #05A3BA;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

.action-button:hover {
  background-color: #254790;
}

.event-form {
  margin-top: 1rem;
}

.event-details {
  margin-top: 1rem;
}

.registered-events {
  flex: 0.5;
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-top: 2rem;
  text-align: right;
}

.registered-events h3 {
  font-size: 1.5rem;
  color: #254790;
  margin-bottom: 1rem;
}

.registered-events ul {
  list-style: none;
  padding: 0;
}

.registered-events li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #333;
}

@media (max-width: 768px) {
  .calendar-content {
    flex-direction: column;
  }
}
