/* Container Styling */
.calendar-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

/* Days of the Week Styling */
.days-of-week {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.days-of-week .day-header {
  flex: 1;
  font-weight: bold;
}

/* Days Grid and Week Styling */
.days-grid {
  display: flex;
  flex-direction: column;
}

.calendar-week {
  display: flex;
}

/* Day Styling */
.calendar-day {
  flex: 1;
  min-width: 0;
  cursor: pointer;
  position: relative;
  padding-right: 6%;
  padding-top: 5%;
  box-sizing: border-box;
  text-align: right;
  overflow: hidden;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.day-empty {
  flex: 1;
  min-width: 0;
  border: 1px solid transparent;
}

.calendar-header {
  margin-bottom: 20px;
  padding-top: 50px;
}

/* Event Indicator Styling */
.event-indicator {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 14px;
}

.event-indicator.today {
  background-color: red;
  color: white;
}

.event-indicator.no-event {
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.calendar-day.today .event-indicator {
  background-color: blue;
  color: white;
}

.event-indicator.no-event {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.event-indicator.today {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

/* Add Event Form Styling */
.add-event-form {
  margin-top: 20px;
}

.add-event-form input {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 80%;
}

.add-event-form button {
  padding: 5px 10px;
}

/* Actions and Buttons Styling */
.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.action-button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
}

.action-button:disabled {
  cursor: not-allowed;
  background-color: grey;
}
