.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 2%;
  margin-top: 8%;
}

.card {
  position: relative;
  width: 100%;
  height: 150px; /* Reduced height */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  padding: 10px; /* Reduced padding */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Centering the button */
}

.card-hover-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-hover-content {
  opacity: 1;
}

.card.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%; /* Adjust width as needed */
  height: auto;
  max-height: 80%; /* Adjust max-height as needed */
  padding: 20px;
  background-color: #fff;
  z-index: 1000;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-full-view {
  margin-top: 20px;
}

.card-content button, .card-full-view button {
  padding: 5px 10px; /* Made the button smaller */
  border: none;
  border-radius: 50px; /* Make the button more circular */
  background: linear-gradient(45deg, #1e90ff, #00bfff); /* Linear gradient color */
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  font-size: 14px; /* Smaller font size */
}

.card-content button:hover, .card-full-view button:hover {
  background: linear-gradient(45deg, #00bfff, #1e90ff); /* Reverse gradient on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.card-full-view button {
  display: block;
  margin: 20px auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dim background */
  backdrop-filter: blur(5px); /* Blur background */
  z-index: 999; /* Below the expanded card */
}
