body.no-scroll {
  overflow: hidden;
}

.card-grid-container {
  background-image: url("../assets/back_ground_stories.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  padding-top: 100px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30%;
}

.story-card {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.expanded-card-container {
  position: fixed;
}

.expanded-card {
  position: fixed;
  top: 15%; /* Adjusted top margin to avoid overlap with the header */
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  max-width: 600px;
  max-height: 70vh; /* Set max height */
  background-color: #fff;
  z-index: 1000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

.expanded-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.expanded-card-full-view {
  padding: 20px;
}

.expanded-card-full-view button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background: #cccccc;
  color: #333;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

.expanded-card-full-view button:hover {
  background: linear-gradient(45deg, #00bfff, #1e90ff);
  transform: scale(1.1);
}

.expanded-story-text {
  font-size: 16px; /* Initial font size */
  line-height: 1.6;
  text-align: justify; /* Justify text alignment */
  direction: rtl;
  padding: 20px;
  word-break: break-word;
  font-family: "Rubik", sans-serif;
}

.expanded-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.font-size-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.font-size-controls button {
  background: #ccc;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.font-size-controls button:hover {
  background: #aaa;
}

.card-content h3,
.card-content p {
  font-size: 24px;
  color: #555;
}

@media (min-width: 900px) and (max-width: 1200px) {
  .story-card {
    width: 300px;
    height: 200px;
  }

  .story-card-content {
    padding: 15px;
  }

  .story-card-content button,
  .expanded-card-full-view button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .expanded-card {
    top: 20%; /* Further increase top margin for smaller screens */
  }
}
