body.no-scroll {
  overflow: hidden;
}

.card-grid-container {
  background-image: url("../assets/back_ground_stories.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Use min-height instead of height */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  padding-top: 100px; /* Adjust padding as needed */
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30%;
}

.expanded-card-container {
  position: relative;
}

.expanded-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  height: 70%; /* Set height to 70% of the viewport height */
  background-color: #fff;
  z-index: 1000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* Enable vertical scrolling */
  font-size: 16px; /* Set font size to 16px */
}

.expanded-card-full-view {
  padding: 20px;
}

.expanded-card-full-view button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px; /* Adjusted button padding for larger buttons */
  border: none;
  border-radius: 50px;
  background: #cccccc; /* Delicate color for "Close" button */
  color: #333; /* Text color for "Close" button */
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  font-size: 16px; /* Adjusted font size for larger buttons */
  font-family: "Rubik", sans-serif;
}

.expanded-card-full-view button:hover {
  background: linear-gradient(45deg, #00bfff, #1e90ff);
  transform: scale(1.1);
}

.expanded-story-text {
  font-size: 16px; /* Set font size to 16px */
  line-height: 1.6; /* Adjusted line height */
  text-align: right; /* Align text to the right */
  direction: rtl; /* Set text direction from right to left */
  padding: 20px; /* Added padding */
  font-family: "Rubik", sans-serif;
}

.expanded-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.card-content h3,
.card-content p {
  font-size: 24px; /* Same size for "הסיפור של" and user name */
  color: #555; /* Same color for "הסיפור של" and user name */
}

@media (min-width: 900px) and (max-width: 1200px) {
  .story-card {
    width: 300px; /* Adjusted width for smaller screens */
    height: 200px; /* Adjusted height for smaller screens */
  }

  .story-card-content {
    padding: 15px;
  }

  .story-card-content button,
  .expanded-card-full-view button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
