.chat-background {
  background: url('../assets/demo-chat-background.jpeg') no-repeat center center fixed;
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.chat-container {
  width: 80%;
  max-width: 800px;
  height: 50%;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
}

.conversation {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #eee;
  direction: ltr;
}

.message {
  margin: 10px 20%;
  padding: 8px;
  border-radius: 5px;
  max-width: 70%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  direction: rtl;
}

.message.sent {
  background-color: #dcf8c6;
  align-self: flex-start;
}

.message.received {
  background-color: #f1f0f0;
  align-self: flex-end;
}

.message p {
  margin: 0;
}

.message small {
  display: block;
  font-size: 0.8em;
  color: #888;
  margin-top: 5px;
}

.input-area-chat {
  display: flex;
  padding: 10px;
  border-top: 1px solid #eee;
}

.input-area-chat input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  outline: none;
  text-align: right;
  direction: rtl;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  z-index: 1001;
}

.input-area-chat button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

.input-area-chat button:hover {
  background-color: #0056b3;
}

.input-area-chat button:active {
  background-color: #004085;
}