.header {
  position: fixed; /* Fixed position to keep the header at the top */
  top: 0; /* Align the header to the top of the viewport */
  left: 0; /* Align the header to the left of the viewport */
  width: 100%; /* Ensure the header spans the full width of the viewport */
  z-index: 9999; /* Set a high z-index to ensure the header is on top of other content */
  background-color: #ffffff; /* Add background color as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for visual separation */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space elements evenly horizontally */
  align-items: center; /* Center elements vertically */
  padding: 10px 20px; /* Add padding to the header */
  flex-direction: row-reverse;
}

.left-section,
.center-section,
.right-section {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center elements vertically */
  flex-direction: row-reverse; /* Reverse the order of the flex items */
}

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.social-logo {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  margin-right: 10px;
}

.greeting {
  margin-right: 20px;
}

.logout-btn {
  color: #333; /* Change text color to black */
  background-color: transparent; /* Keep background transparent */
  border: 2px solid #333; /* Add border */
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px; /* Add padding for better spacing */
  transition: all 0.3s ease; /* Add transition for smooth hover effect */
}

.logout-btn:hover {
  background-color: #333; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

.nav-btn {
  color: #333; /* Change text color to black */
  background-color: transparent; /* Keep background transparent */
  border: 2px solid #333; /* Add border */
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px; /* Add padding for better spacing */
  margin-bottom: 10px; /* Add margin between buttons */
  transition: all 0.3s ease; /* Add transition for smooth hover effect */
}

.nav-btn:hover {
  background-color: #333; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

.logo-container {
  display: flex; /* Ensure logo container stays in line */
  align-items: center; /* Vertically center logo and text */
  margin-right: 25px;
}

.logo-image {
  width: 100px; /* Adjust size as needed */
  cursor: pointer; /* Set cursor to pointer when hovering over the logo */
}
.dropdown-item:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column-reverse; /* Stack header items vertically on smaller screens */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .left-section {
    order: 2; /* Move left section to bottom on smaller screens */
    margin-top: 10px; /* Add some space between sections */
  }

  .right-section {
    order: 1; /* Move right section to top on smaller screens */
  }

  .center-section {
    width: 100%; /* Make center section full width on smaller screens */
    order: 3; /* Move center section to bottom on smaller screens */
  }
}
