header {
  width: 100%; /* Ensure the header spans the full width of the viewport */
  z-index: 9999; /* Set a high z-index to ensure the header is on top of other content */
  background-color: #ffffff; /* Add background color as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for visual separation */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Add padding to the header */
}

.right-section {
  display: flex;
  align-items: center;
  padding-right: 3%;
}

.left-section {
  display: flex;
  align-items: center;
  padding-right: 20px; /* Add padding to separate from other elements */
  margin-left: 20px; /* Add margin to the left of the section */
}

.social-icons {
  display: flex;
  align-items: center;
  margin-right: 30px; /* Increase margin for more space */
}

.header-icon {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  margin-right: 15px; /* Increase margin for more space */
  cursor: pointer;
}

.greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px; /* Increase margin for more space */
}

.greeting p {
  margin-left: 10px; /* Add margin to the left of the text */
  margin-top: 15%;
}

.guest-greeting {
  margin-right: 30px;
  margin-top: 7%;
  display: flex;
  align-items: center;
  font-size: 16px; /* Adjust font size as needed */
}

.logout-btn {
  color: #333; /* Change text color to black */
  background-color: transparent; /* Keep background transparent */
  border: 2px solid #333; /* Add border */
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px; /* Add padding for better spacing */
  transition: all 0.3s ease; /* Add transition for smooth hover effect */
}

.logout-btn:hover {
  background-color: #333; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

.nav-btn {
  color: black; /* Change text color to black */
  background-color: transparent; /* Keep background transparent */
  border: 2px solid #ffffff; /* Add border */
  cursor: pointer;
  font-size: 20px;
  font-family: "Rubik";
  padding: 8px 16px; /* Add padding for better spacing */
  margin-bottom: 10px; /* Add margin between buttons */
  margin-left: 10px; /* Add margin between buttons */
  transition: all 0.3s ease; /* Add transition for smooth hover effect */
  border-radius: 8px;
  background-color: white;
}

.nav-btn:first-child {
  margin-left: 0; /* Remove margin from the first button */
}

.nav-btn:hover {
  background: linear-gradient(
    90deg,
    #0267c0 0%,
    #034b9c 100%
  ); /* Gradient background color on hover */
  color: white; /* Change text color on hover */
  border-radius: 20px;
}

.logo-container {
  display: flex; /* Ensure logo container stays in line */
  align-items: center; /* Vertically center logo and text */
  margin-right: 25px;
}

.logo-image {
  width: 100px; /* Adjust size as needed */
  cursor: pointer; /* Set cursor to pointer when hovering over the logo */
}

.hamburger-icon {
  display: none;
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  cursor: pointer;
  margin-left: 20px; /* Add margin to separate from the greeting section */
}

.hamburger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.center-section.open {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .logout-icon {
    display: none; /* Hide logout icon on mobile screens */
  }
  
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .logo-container {
    order: 1;
    margin-bottom: 10px; /* Space between logo and other items */
  }

  .center-section {
    width: 100%; /* Make center section full width on smaller screens */
    order: 2;
    display: none; /* Hide menu by default on mobile */
  }

  .center-section.open {
    display: flex; /* Show menu when open on mobile */
    flex-direction: column; /* Stack items vertically */
  }

  .right-section {
    order: 3;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  }

  .social-icons {
    order: 2;
  }

  .greeting {
    order: 3;
  }

  .logout-icon {
    order: 4;
  }

  .hamburger-icon {
    display: block; /* Show hamburger icon on mobile */
    order: 1;
    margin-right: 0;
  }
}
