.homepage {
  position: relative;
  padding: 1%;
}

.homepage-main-content {
  padding: 1%;
  text-align: center;
}

.homepage-section {
  padding: 1%;
  margin: 1% 0;
  opacity: 0;
  transform: translateY(5%);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.title-container {
  margin: 1% 0;
  text-align: center;
  padding: 1%;
  background: linear-gradient(120deg, #e0eafc, #cfdef3);
  border-radius: 1%;
  box-shadow: 0 0.4% 0.8% rgba(0, 0, 0, 0.1);
  color: #004085;
  font-family: 'Rubik', sans-serif;
}

.title-container h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  color: #004085;
  text-transform: uppercase;
  letter-spacing: 0.2%;
}

.title-container p {
  font-size: 1.5rem;
  margin: 1% 0 0;
  color: #004085;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.homepage-gradient-background-1 {
  background: linear-gradient(90deg, #05A3BA 0%, #254790 100%);
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0 0.4% 0.8% rgba(0, 0, 0, 0.1);
}

.homepage-content-container {
  display: flex;
  justify-content: space-between;
  gap: 6%;
  
}

.homepage-card-instegram,
.homepage-card-BulletinBoard,
.homepage-card-Management {
  flex: 1;
  height: 450px;
  background: #ffffff;
  border: 0.1% solid #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
}

.homepage-card-instegram iframe,
.homepage-card-instegram .instagram-content {
  width: 100%;
  height: 100%;
}

.homepage-card-BulletinBoard .content {
  padding: 40px; 
  font-size: 1.5rem; 
  line-height: 1.6; 
}

.blue-background {
  width: 100%;
  height: 140px;
  background: linear-gradient(90deg, #05A3BA 0%, #254790 100%);
  position: absolute;
  top: 20%; /* Adjust to position correctly */
  z-index: -1; /* Ensure it is behind the content */
}

.manager-section {
  width: 100%;
  margin-top: 20px;
}

/* InstagramPhotos.css */
.instagram-photos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.instagram-photos .photo {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.instagram-photos .photo img {
  width: 100%;
  height: auto;
  display: block;
}

.instagram-photos .caption {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
}
