/* src/styles/ImageSlider.css */
.image-slider {
  position: relative;
  text-align: center;
  margin: 20px 0;
  width: 100%; /* Adjust the width to 100% to fit its container */
  height: 500px; /* Set the height to match the BulletinBoard */
}

.image-slider-img {
  width: 100%;
  height: 100%; /* Make the image cover the slider's height */
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
