/* src/styles/ImageSlider.css */
.image-slider {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.image-slider-img {
  width: 100%;
  max-width: 800px; /* Increase the maximum width */
  height: 500px; /* Increase the height */
  object-fit: cover; /* Ensure the image covers the area */
  border: 2px solid #ccc;
  border-radius: 8px;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px; /* Increase the font size for larger arrows */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1; /* Ensure the buttons appear above the images */
}

.prev-button {
  left: 20px; /* Position the button closer to the image */
}

.next-button {
  right: 20px; /* Position the button closer to the image */
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
