/* loginPage.css */


.login-background {
  background-image: url("../assets/login_backround_cut.png");
  background-size: 100% 100%; /* This stretches the background image to fill the entire viewport */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-color: #f0f0f0; /* Sets a background color to fill any space around the image */
  min-height: 100vh; /* Minimum height of 100% of the viewport height */
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Aligns children along the end of the horizontal line */
  align-items: center; /* Keeps children centered vertically */
  padding-right: 10%; /* Optional: Adds some padding on the right so the form isn't directly against the edge of the screen */
}

/* Style for the login form container */
.login-container {
  width: 30%; /* Width set to 40% of the parent container */
  padding: 2%; /* Padding inside the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
  border-radius: 8px; /* Rounded corners */
  text-align: center; /* Center the text */
  background-size: cover; /* This makes the background image responsive */
}

.login-container h2 {
  margin-bottom: 5%; /* Margin below the title */
  color: #333;
  width: 100%; /* Full width */
}

/* Style for the login form */
.login-form {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack the children vertically */
  align-items: center; /* Center the elements horizontally */
}

/* Style for the form labels */
.login-form label {
  margin-bottom: 2%; /* Margin below the label */
  font-weight: bold; /* Bold text */
  text-align: center; /* Center the text */
  width: 100%; /* Full width */
}

/* Style for the input fields */
.login-form input {
  width: 100%; /* Full width to match the button */
  padding: 2%; /* Padding inside the input field */
  margin-bottom: 2%; /* Margin below the input field */
  border: 1px solid #ccc; /* Border color and style */
  border-radius: 4px; /* Rounded corners */
}

/* Style for the login button */
.login-form button {
  padding: 2%; /* Padding inside the button */
  margin: 2% 0; /* Margin above and below the button */
  border: none; /* No border */
  border-radius: 8px; /* Rounded corners */
  background: linear-gradient(90deg, #05A3BA 0%, #254790 100%); /* Gradient background color */
  color: white; /* Text color */
  font-size: 1em; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  width: 50%; /* Full width to match the input fields */
}


/* Style for the login button on hover */
.login-form button:hover {
  background: linear-gradient(90deg, #0267c0 0%, #002d62 100%); /* Gradient background color on hover */
}

/* Style for error messages */
.error-message {
  color: red; /* Red text color */
  margin-bottom: 2%; /* Margin below the error message */
}

/* Style for the additional options container (Forgot password, Sign Up) */
.additional-options {
  margin-top: 2%; /* Margin above the container */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack the children vertically */
  align-items: center; /* Center the elements horizontally */
}

/* Style for the additional options buttons */
.additional-options button {
  background: linear-gradient(90deg, #66AB44 0%, #026735 100%); /* Gradient background color */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 2%; /* Padding inside the button */
  font-size: 1em; /* Font size */
  margin-top: 2%; /* Margin above the button */
  width: 50%; /* Full width to match the input fields */
}

/* Style for the additional options buttons on hover */
.additional-options button:hover {
  background: linear-gradient(90deg, #4A8B32 0%, #014522 100%); /* Gradient background color on hover */
}

/* Style for the paragraph inside additional options (Sign Up) */
.additional-options p {
  margin-top: 2%; /* Margin above the paragraph */
}

/* Style for the Sign Up button inside the paragraph */
.additional-options p button {
  background: linear-gradient(90deg, #66AB44 0%, #026735 100%); /* Gradient background color */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 2%; /* Padding inside the button */
  font-size: 1em; /* Font size */
  width: auto; /* Auto width */
}

/* Style for the Sign Up button on hover inside the paragraph */
.additional-options p button:hover {
  background: linear-gradient(90deg, #4A8B32 0%, #014522 100%); /* Gradient background color on hover */
}
