/* loginPage.css */
.login-background {
  display: flex;
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Full viewport height */
  background: url("../assets/login_backround_cut.png") no-repeat; /* Set background image */
  background-size: cover; /* Ensure background covers entire container */
  background-position: left center; /* Keep the image on the left */
  padding-right: 50px; /* Fixed padding from the right edge */
  box-sizing: border-box; /* Include padding in the width/height */
}

.login-container {
  width: 30%; /* Adjust width as needed */
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* White background with some transparency */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Include padding in the width */
  text-align: center; /* Center the header text */
}

.login-container h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Space between form elements */
  align-items: center;
}

.login-form label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.login-form input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #05a3ba; /* Button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 25%;
}

.login-form button:hover {
  background-color: #007a91; /* Darker shade on hover */
}

.additional-options {
  margin-top: 1rem;
  text-align: center; /* Center additional options */
}

.additional-options button {
  background: none;
  border: none;
  color: #05a3ba;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
}

.additional-options p {
  margin-top: 1rem;
  color: #333;
}

.additional-options p button {
  font-size: 1rem;
  color: #05a3ba;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}
