.logo-container {
  position: absolute;
  top: 5%; /* Adjust the top position as a percentage of the viewport height */
  right: 5%; /* Adjust the right position as a percentage of the viewport width */
}

.logo-image {
  max-width: 100px; /* Adjust the size as needed */
  height: auto;
}
