.management-container {
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  overflow: hidden;
  padding: 2%;
  margin-left: auto;
  margin-right: auto; /* Center the card */
}

.management-container h1 {
  margin-top: -2%;
  font-size: 3rem;
  font-weight: 700;
  color: #004085;
  text-transform: uppercase;
  letter-spacing: 0.2%;
}

.text-cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0 4% 8% rgba(0, 0, 0, 0.1);
  margin-bottom: 2%;
}

.text-card p {
  direction: rtl;
  text-align: right;
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  color: #000000;
  margin: 0 0 1.5rem;
}

.text-card .date-line {
  font-weight: bold;
}

.management-manage-button {
  margin-top: 2%;
  padding: 1% 2%;
  background-color: #05a3ba;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}

.management-manage-button:hover {
  background-color: #004085;
}

.management-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure the modal is on top */
}

.management-modal-content {
  background: white;
  padding: 2%;
  border-radius: 8px;
  width: 45%;
  text-align: right;
  font-family: "Rubik", sans-serif;
  direction: rtl;
  font-size: 1.5rem;
}

.management-underline {
  border: 0;
  height: 2px;
  background-color: #254790;
  margin-bottom: 2%;
}

.management-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4%;
}

.management-options label {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 1rem;
}

.management-options input[type="radio"] {
  margin-left: 10px;
}

.management-input,
.management-selection {
  width: 98%;
  padding: 1%;
  margin-bottom: 1.5%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  direction: rtl;
  text-align: right;
  color: #000000;
}

.management-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.management-submit-button,
.management-cancel-button {
  padding: 0.75rem 1.5rem;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
}

.management-submit-button {
  background-color: #05a3ba;
}

.management-submit-button:hover {
  background-color: #004085;
}

.management-cancel-button {
  background-color: #254790;
}

.management-cancel-button:hover {
  background-color: #05a3ba;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.management-modal-content h2 {
  text-align: right;
  color: #05a3ba;
}
