/* src/styles/Management.css */
.management-container {
  width: 100%; /* Full width */
  margin-top: 20px; /* Add margin at the top */
  display: flex;
  justify-content: center; /* Center horizontally */
  flex-direction: column;
  align-items: center;
}

.text-cards-container {
  width: 80%; /* Set the width to 80% of the container */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0; /* Light gray background */
  padding: 20px; /* Add padding to ensure text isn't too close to the edges */
  border-radius: 8px; /* Optional: add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
  margin-bottom: 20px; /* Add margin at the bottom */
}

.text-card {
  white-space: pre-wrap; /* Respect spaces and line breaks */
  background-color: #fff; /* White background */
  padding: 10px; /* Padding for text content */
  border-radius: 4px; /* Rounded corners for text content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
  width: 100%; /* Full width within the container */
}

.add-text {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.add-text textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #d3d2d2;
  border-radius: 4px;
  resize: vertical;
}

.add-text button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-text button:hover {
  background-color: #218838;
}
